</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table align="center" class="es-content" cellspacing="0" cellpadding="0">
<tbody>
<tr> </tr>
<tr>
<td align="center" class="esd-stripe" esd-custom-block-id="6564">
<table width="640" align="center" class="es-footer-body" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" class="esd-structure es-p5t es-p40b es-p20r es-p20l">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
    <td width="600" align="center" class="esd-container-frame" valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center" class="esd-block-text es-p15t es-p15b" esdev-links-color="#ffffff">
                        <p>Via Statale 11/13</p>
                        <p>Ponte San Marco, 25011 (BS), Italy</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table align="center" class="esd-footer-popover es-content" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" class="esd-stripe">
<table width="640" align="center" class="es-content-body" style="background-color: transparent;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" class="esd-structure es-p30t es-p30b es-p20r es-p20l">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
    <td width="600" align="center" class="esd-container-frame" valign="top">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center" class="esd-block-image es-infoblock">
                        <p>Copyright © 2019 Cavagna Group®, All rights reserved.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>